<div>
    <div>
        <h1>Centro de mensajes</h1>
        <div>
            <form onsubmit="return enviarMail()">
            <input type="email" name="" required id="emailInput" placeholder="ingrese su email...">
            <input id="sendEmail" type="submit">
            </form>
        </div>
    </div>
    <div id="chat">
    </div>
    <div>
        <input type="text" placeholder="Ingresa un mensaje..." id="inputMessage">
        <button id="sendMessage" type="submit">Enviar!</button>

    </div>
</div>