<ul>
    {{#each productos}}
        <li>
            <div>
                <img src="{{this.thumbnail}}" alt="">
                <h4>{{this.title}}</h4>
                <p>Precio {{this.price}}</p>
            </div>
        </li>
    {{/each}}
</ul>